
body {
  background-color: #79d2a6;
  font-family: Verdana, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  color: #0d261a;
  text-align: center;
}

table {
  border: 2px solid black;
  background-color: #9fdfbf;
  text-align: center;
}  

th, td {
  padding: 0.625em;
  text-align: center;
  border-bottom: 2px solid black;
}

tr:nth-child(even) {
    background-color: #d9f2e6;
}

.center {
    margin:0 auto;
}

.rcorners {
    align: center;
    border-radius: 1.5625em;
    border: 2px solid #2d8659;
    padding: 0.625em;
    margin-bottom: 0.9375em;
}

label, button {
    padding: 0.9375em;
    margin-bottom: 0.9375em;
    border-radius: 0.9375em;    
}

a {
   color: #800060; 
}

.col-8 {
    width: 28.125em;
}

input {
    padding: 0.9375em; 
    margin-bottom: 0.9375em; 
    border-radius: 0.9375em; 
    width: 25em;
}

