<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Borrow selected book</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="center">
            <form action="#" th:object="${book}">
                <h2>Selected book: <span th:text="${book.title}"></span></h2>
            </form>
            <form th:action="@{/processBorrow/{id}(id=${book.id})}" th:object="${loan}"
                method="post">
                <label>Loan period is one month </label>
                <input type="hidden" th:field="*{dueDate}" class="form-control">
                <p>Today is</p>
                <h3 th:text="${#temporals.format(localDate, 'dd-MM-yyyy')}"></h3> 
                <p>After due date you are advised to return the loan or you'll face a penalty</p>
                <button type="submit" class="btn btn-primary">Borrow</button>
            </form>     
        </div>
    </body>
</html>
