<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Borrow selected book</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="center">
            <form action="#" th:object="${book}">
                Selected book: <span th:text="${book.title}"></span>
            </form>
            <form action="#" th:action="@{/processBorrow/{id}(id=${book.id})}" th:object="${loan}"
                method="post" style="max-width: 600px; margin: 0 auto;">
                <label class="col-4 col-form-label">Loan period is one month </label>
                <input type="hidden" th:field="*{dueDate}" class="form-control">
                <p>Today is</p>
                <p th:text="${#temporals.format(localDate, 'dd-MM-yyyy')}"></p> 
                <div>
                    <button type="submit" class="btn btn-primary">Borrow</button>
                </div>
            </form>     
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </body>
</html>
