<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">  
    <head>
        <title>Loan confirmed</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="center">
            <h3>Loan was succesful</h3>
            <h4> <a href="ownPage">Go to your own page</a> to see all your loans</h4>
            <h4> <a href="showBooks">Borrow more books</a></h4>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Sign out</button> 
            </form>
        </div>
    </body>
</html>
