<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Confirm delete</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="rcorners" align="center">
            <a style="color: heather" th:href="@{/}">Home</a>
            <h2>Confirm delete</h2>
            <form th:action="@{/remove/{id}(id=${book.id})}" th:object="${book}" method="post">
                <p>Selected book: <span th:text="${book.title}"></span></p>
                <p>Remove this book from the library collection?</p>
                <button type="submit">Remove</button>  
            </form>
        </div>
    </body> 
</html>
