<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login to your library account</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script src="https://ajax googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body style="margin:30px">
        <div class="rcorners">
            <h3>Sign In</h3>
            <div th:if="${param.error}">
                <p style="color: red">UserName or PassWord is wrong. Please check again!</p>
            </div>
            <div th:if="${param.logout}">
                <h3>Logged out.</h3>
            </div>
            <form th:action="@{/login}" method="post">
                <div class="col-20">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control" id="username" placeholder="Enter UserName" name="username"/>
                </div>
                <div class="col-20">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password"/>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </body>
</html>