<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">  
<head>
    <meta charset="utf-8">
    <title>Your library account</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
        <div align="center">	
            <div sec:authorize="isAuthenticated()">
                Welcome <b><span sec:authentication="name">Username</span></b><br>		
                You are logged in as <i><span sec:authentication="principal.authorities">Roles</span></i>
            </div>		
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Logout" />
            </form>
        <div>
            <h1>Your loans</h1>
        </div>

        <div>
            <table class="rcorners">
                <thead class="thead-dark">
                    <tr>
                        <th>Book</th>
                        <th>Due Date</th>
                        <th>Return loan</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="loan: ${loans}">
                        <td th:text="${loan.Book}">Book</td>
                        <td th:text="${loan.dueDate}">Due Date</td>
                        <td><a th:href="@{/return/{id}(id=${loan.id})}">Return loan</a></td>
                    </tr>
                </tbody>
            </table>
            <a href="showBooks">Borrow books</a>
        </div>
        <div sec:authorize="hasAuthority('librarian')">
            <p><a href="users">Show all users</a></p>
            <p><a href="showLoans">Show all loans</a></p>     
            <p><a href="addBooks">Add books to the library collection</a></p>
        </div>
    </div>
</body>
</html>