<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Confirm return</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="rcorners" align="center">
            <a style="color: heather" th:href="@{/}">Home</a>
            <h2>Confirm return</h2>
            <form th:action="@{/returnLoan/{id}(id=${loan.id})}" th:object="${loan}" method="post">
                <p>Selected loan: <span th:text="${loan.Book}"></span></p>
                <p>Return this loan?</p>
                <button type="submit">Return</button>  
            </form>
        </div>
    </body>
</html>