<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>List loans</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div>
        <h2>List of all loans</h2>
    </div>
    <div align="center">
        <table class="rcorners">
            <thead class="thead-dark">
                <tr>
                    <th>Book</th>
                    <th>Due Date</th>
                    <th>Borrowed by</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="loan: ${allLoans}">
                    <td th:text="${loan.Book}">Book</td>
                    <td th:text="${loan.dueDate}">Due Date</td>
                    <td th:text="${loan.user}">Borrowed by</td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><a href="ownPage">Go back</a></p>
</div>
</body>
</html>