<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Books to borrow</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    </head>     
    <body> 
        <div align="center">
        <h2>List of books in our library</h2>
            <table class="rcorners">
                <tr>
                    <th>Author</th>
                    <th>Title</th>
                    <th>Availability</th>
                    <th>Borrow</th>
                </tr>            
                <tr th:each="book : ${books}">    
                    <td th:text="${book.author}">Author</td>
                    <td th:text="${book.title}">Title</td>
                    <td th:text="${book.status}">Availability</td>
                    <td><span th:if="${book.status == 'available'}"><a th:href="@{/borrow/{id}(id=${book.id})}">Borrow</a></span></td>          
                    <td sec:authorize="hasAuthority('librarian')"><a th:href="@{/deleteBook/{id}(id=${book.id})}">Delete Book</a></td>
                </tr>
            </table>
            <p><a href="/">Home</a></p>
            <div sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">
                    <button type="submit">Sign out</button> 
                </form>
            </div>    
        </div>
    </body>
</html>
