<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Library</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <a rel="stylesheet" href="style.css"/>
    </head>
    
   
    <body> 
        <h2>List of books in our library</h2>
        <table>
            <tr>
                <th>Author</th>
                <th>Title</th>
            </tr>            
            <tr th:each="book : ${books}">                 
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.title}">Title</td>
            </tr>
        </table>
    </body>
</html>
