<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Library Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div align="center">
    <div>
        <h2>List of library patrons and librarians</h2>
        <h5>Note: account cannot be deleted if the user has loans</h5>
    </div>
    <div>
        <table class="rcorners">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Edit</th> 
                </tr>
            </thead>
            <tbody>
                <tr th:each="user: ${listUsers}">
                    <td th:text="${user.username}">Username</td>
                    <td th:text="${user.roles}">Role</td>
                    <td th:if="${#lists.size(user.roles) == 1}"><a th:href="@{/editAuthorities/{id}(id=${user.id})}">Edit</a></td>
                    <td th:if="${#lists.size(user.loans) == 0}"><a th:href="@{/deleteAccount/{id}(id=${user.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><a href="ownPage">Go back</a></p>
</div>
</body>
</html>